<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Android.testcases.Lead.AddSelfLead"/>
      <class name="BasePage.BaseTest"/>
      <class name="Android.testcases.Lead.UpdateLead"/>
      <class name="Android.testcases.Lead.AddReferLead"/>
      <class name="Android.testcases.Login.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
